.side-nav {
  padding-top: 15vh;
  margin-bottom: auto;
  /* margin-bottom: 300px; */
}
.menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu-link {
  padding: 20% 0;
}

.menu-link .route-link {
  font-size: 20px;
}
.cart {
  margin-bottom: 8vh;
}
.sign-block {
  margin-bottom: 8vh;
}
