@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.App {
  background-color: #1a1a1d;
  color: #fff;
  width: 100%;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  height: 45px;
  min-width: 100%;
  padding: 0 2%;
  background-color: #6f2232;
  flex-grow: 0;
  /* font-weight: bold; */
  flex-basis: 0;
}

main {
  width: 100%;
  /* min-height: 87vh; */
  flex-grow: 1;
  flex-basis: 0;
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2%;
  background-color: #6f2232;
  flex-grow: 0;
  flex-basis: 0;
}
#modal-root {
  position: absolute;
  top: 0;
  left: 0;
}
